<!DOCTYPE html>

    <html>
    <head>
        <title>Dutch Treat: @ViewBag.Title </title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark navbar-expand-md navbar-expand-lg">
                <h1 class="navbar-brand text-white"><i class="fas fa-paint-brush px-2"></i> Welcome to Dutch Treat</h1>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="menu" class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="App" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="App" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="App" asp-action="About">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="container">
            <h2 class="text-center">@ViewBag.Title</h2>
            <div>
                @RenderBody()
            </div>
        </section>
        <footer class="container">
            <div class="text-center">Copyright 2021 Dutch Treat International</div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/Index.js"></script>

        @RenderSection("Scripts", false)
    </body>
    </html>
